@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/react-toastify/8.0.3/ReactToastify.min.css');


body {
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login-form {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.login-form h2 {
  margin-bottom: 1rem;
}

.login-form div {
  margin-bottom: 1rem;
  width: 35vh;
}

.login-form label {
  display: block;
  margin-bottom: 0.5rem;
}

.login-form input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-form button {
  width: 50%;
  padding: 0.5rem;
  background-color: rgb(32, 31, 31);
  margin-left: 25%;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: rgb(53, 53, 53);
}

@media (max-width: 600px) {
  .login-form {
    padding: 1rem;
  }

  .login-form h2 {
    font-size: 1.5rem;
  }

  .login-form input,
  .login-form button {
    padding: 0.75rem;
  }
}

